/* header{
    display: none;
} */

body {
    margin: 0px 0px 0px 0px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a252c;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)), url("resources/drew-farwell-481120-unsplash.jpg");
    background-size: cover;
    background-position: 0px -170px;
    width: 100%;
    height: 90vh;
    display: block;
}

header h1 {
    font-size: 6.5em;
    font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;
    color: white;
    display: inline-block;
    margin: auto auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4));
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0px 10px;
    width: 100%;
    z-index: 1;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

nav li,
nav a {
    color: white;
    text-decoration: none;
}

.favourites-container {
    text-align: right;
    padding: 10px 10px;
}

.favourites-container a {
    color: black;
}

.beer-abv::after {
    content: "%";
}

#beers-container {
    text-align: center;
    background-color: white;
    width: 100%;
    overflow: auto;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px auto;
}

main a {
    color: #fa594e;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto 0px auto;
    display: block;
}

.beer-box {
    border-radius: 2px;
    box-shadow: 0px 0px 15px #d8d8d8;;
    /* display: inline-block; */
    text-align: center;
    height: 430px;
    width: 23%;
    padding: 2% 2%;
    margin: 5px 5px;
    position: relative;
    float: left;
}

.beer-box:hover{
    box-shadow: 0px 0px 15px #a8a8a8;

}

.beer-box:first-of-type {
    margin-left: 10px;
}

.beer-box:last-of-type {
    margin-right: 10px;
}

#beers-container h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}

#beers-container h1 {
    font-size: 1.5em;
    margin: 0.5em auto 5px auto;
}

#beers-container h2 {
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #878284;
    margin: 5px auto 20px auto;
}

.center {
    text-align: center;
}

.favourite-holder {
    background-image: url("resources/hearts_or.png");
    background-size: cover;
    /* background-color: white; */
    background-position: top left;
    background-repeat: no-repeat;
    width: 42px;
    height: 35px;
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    margin: 5px 5px 0px 0px;
}

.beer-box img {
    max-height: 220px;
    margin-top: 20px;
}

.beer-details {
    display: none;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

footer {
    display: block;
    background-color: #878284;;
    padding: 5px 0px;
    text-align: center;
    font-size: 0.8em;
}

footer p {
    margin: 0px 0px;
}

.float-left {
    float: left;
}

.italic {
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .beer-box {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .beer-box {
        width: 100%;
        margin: 20px 0px;
    }
}