/* header{
    display: none;
} */

body {
    margin: 0px 0px 0px 0px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)), url("resources/drew-farwell-481120-unsplash.jpg");
    background-size: cover;
    background-position: 0px -170px;
    width: 100%;
    height: 90vh;
    display: block;
   
}

header h1 {
    font-size: 6.5em;
    font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;
    color: white;
    display: inline-block;
    margin: auto auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4));
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0px 10px;
    width: 100%;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

nav li{
    color: white;
    text-decoration: none;
}

.favourites-container{
    text-align: right;
    padding: 10px 10px;
}

.favourites-container a{
    color: black;
}


.beer-abv::after {
    content: "%";
}

#beers-container {
    text-align: center;
    background-color: white;
    width: 100%;
    overflow: auto;
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
}


.beer-box {
    border: solid 1px blue;
    border-radius: 2px;
    float: left;
    text-align: center;
    height: 430px;
    width: 23%;
    padding: 2% 2%;
    margin: 5px 5px;
}

.beer-box:first-of-type{
    margin-left:10px;
}

.beer-box:last-of-type{
    margin-right:10px;
}

#beers-container h1, h2, h3, h4{
    font-family: 'Oranienbaum', serif;
    font-family: 'Copse', cursive;
    font-family: 'Oswald', sans-serif;
}

.beer-headline{
    text-align: center;
}


.favourite-holder {
    background-image: url("resources/hearts.png");
    background-size: cover;
    /* background-color: white; */
    background-position: top left;
    background-repeat: no-repeat;
    width: 42px;
    height: 35px;
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
}

.beer-box img {
    max-height: 200px;
}

.beer-details {
    display: none;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

footer {
    display: block;
    background-color: grey;
    padding: 5px 0px;
    text-align: center;
    font-size: 0.8em;
}

footer p{
    margin: 0px 0px;
}

.float-left {
    float: left;
}

.italic{
    font-style: italic;
}